<section id="featured" class="featured">
    <h2>FEATURED WORK</h2>
    <div class="top-row">
        <div class="lg-window">
            <!-- LG -->
            <button class="view-proj-btn" type="button">View Project</button>
        </div>
        <div class="right-windows">
            <div class="sm-window">
                <!-- sm -->
                <button class="view-proj-btn" type="button">View Project</button>
            </div>
            <div class="sm-window">
                <!-- sm -->
                <button class="view-proj-btn" type="button">View Project</button>
            </div>
        </div>
    </div>
    <div class="bottom-row">
        <div class="md-window">
            <!-- Md -->
            <button class="view-proj-btn" type="button">View Project</button>
        </div>
        <div class="md-window">
            <!-- Md -->
            <button class="view-proj-btn" type="button">View Project</button>
        </div>
    </div>
    <button class="check-more-btn" type="button">View All Projects</button>
</section>