<section id="featured" class="featured">
    <h2>FEATURED WORK</h2>
    <div class="top-row">
        <div class="lg-window">LG</div>
        <div class="right-windows">
            <div class="sm-window">sm</div>
            <div class="sm-window">sm</div>
        </div>
    </div>
    <div class="bottom-row">
        <div class="md-window">Md</div>
        <div class="md-window">Md</div>
    </div>
    <button class="check-more-btn" type="button">View All Projects</button>
</section>