<section class="inquiries">
    <label>
        To discuss any inquiries
        <button type="button">
            Get in TOUCH
            <svg class="icon icon-email-icon"><use xlink:href="#icon-email-icon"></use></svg>
        </button>
    </label>            
</section>