<section class="inquiries">
    <div class="inner-wrap">
        <label for="get-in-touch-btn">
            To discuss any inquiries
        </label>            
        <button id="get-in-touch-btn" type="button">
            Get in TOUCH
            <svg class="icon icon-email-icon"><use xlink:href="#icon-email-icon"></use></svg>
        </button>
    </div>
</section>