<section id="overview" class="overview">

    <!-- meet us -->
    <article class="meet-us">
        <div class="lg-img">
            <h2>TEAM</h2>
            <img src="assets/images/compressed/office-meeting.jpg" alt="">
        </div>
        <div class="action">
            <!-- <button type="button">Meet Us</button> -->
            <a class="a-btn" href="/whoweare">Meet Us</a>
        </div>
    </article>
    
    <!-- hear about us -->
    <article class="hear-about-us">
        <div class="lg-img">
            <h2>TRUSTED</h2>
            <img src="assets/images/compressed/handshake.jpg" alt="">
        </div>
        <div class="action">
            <!-- <button type="button">Hear About Us</button> -->
            <blockquote cite="">
                <p>"One of the most professional contractors I have had the pleasure to work with"</p>
            </blockquote>
            <a class="a-btn hear-about-us" href="trust&respect">Hear About Us</a>
        </div>
    </article>
    
    <!-- see our work -->
    <article class="see-our-work">
        <div class="lg-img">
            <h2>PROJECTS</h2>
            <!-- <img src="assets/images/compressed/st-baranabus-west-expansion.jpg" alt=""> -->
            <img src="/assets/images/compressed/projects/bbm-1.jpg" alt="">
        </div>
        <div class="action">
            <!-- <button type="button">See Our Work</button> -->
            <a class="a-btn" href="/projects">See Our Work</a>
        </div>
    </article>

</section>