<section id="overview" class="overview">

    <!-- meet us -->
    <article class="meet-us">
        <div class="lg-img">
            <h2>TEAM</h2>
            <img src="assets/images/paul-bence-395888-compressor.jpg" alt="">
        </div>
        <div class="action">
            <button type="button">Meet Us</button>
        </div>
    </article>
    
    <!-- hear about us -->
    <article class="hear-about-us">
        <div class="lg-img">
            <h2>TRUSTED</h2>
            <img src="assets/images/handshake-compressor.jpg" alt="">
        </div>
        <div class="action">
            <button type="button">Hear About Us</button>
        </div>
    </article>
    
    <!-- see our work -->
    <article class="see-our-work">
        <div class="lg-img">
            <h2>PROJECTS</h2>
            <img src="assets/images/st-baranabus-west-expansion-compressor.jpg" alt="">
        </div>
        <div class="action">
            <button type="button">See Our Work</button>
        </div>
    </article>

</section>