<section id="why-we-excell" class="why-we-excell">
   <h2>Why We Excell</h2>
    <ul>
       <li>
           <a class="excell-icon" id="icon-1" href="#!"></a>
           <label for="icon-1">Sed non nibh commodo, pulvinar ipsum non, dictum mi.</label>
       </li>
       <li>
            <a class="excell-icon" id="icon-2" href="#!"></a>
            <label for="icon-2">Nullam non dolor diam. Praesent quis pulvinar neque.</label>
       </li>
       <li>
            <a class="excell-icon" id="icon-3" href="#!"></a>
            <label for="icon-3">Nulla ultricies faucibus ligula vitae pellentesque.</label>
       </li>
   </ul>
</section>