<% layout('layout') %>

<section class="bim-model-page">
    <% include ../../blocks/bim-model %>

   <div class="model-slider">
       <div class="model-slide">
           <a href="/bim/example1">
               <div class="model-slide-inner"></div>
           </a>
       </div>
       <div class="model-slide">
           <a href="/bim/example2">
               <div class="model-slide-inner"></div>
           </a>
       </div>
       <div class="model-slide">
           <a href="/bim/example3">
               <div class="model-slide-inner"></div>
           </a>
       </div>
   </div>
   
</section>