<% layout('layout') %>

<section class="bim-model">
    <% include ../../blocks/bim-model %>

   <div class="model-slider">
       <div class="model-slide"></div>
       <div class="model-slide"></div>
       <div class="model-slide"></div>
   </div>
   
</section>