<% layout('layout') %>

<section id="projects" class="projects-page">
    <h2>Projects</h2>
    <ul class="category-list">
        <% categories.forEach((category) => { %>
            <li>
                <%- partial('../blocks/projectCategory', {category: category}) %>
            </li>
        <% }) %>
    </ul>
</section>


