<% layout('layout') %>

<section id="who-we-are" class="who-we-are-page">
    <div class="container">
        <div class="about-nav-container">
            <nav class="sub-nav">
                <ul>
                    <li>
                        <a href="/who-we-are" class="<%= path === '/who-we-are' ? 'active':'' %>">
                            <span>Who We Are</span>
                        </a>
                    </li>
                    <li>
                        <a href="/who-we-are/safety" class="<%= path === '/who-we-are/safety' ? 'active':'' %>">
                            <span>Safety</span>
                        </a>
                    </li>
                    <li>
                        <a href="/who-we-are/bonding" class="<%= path === '/who-we-are/bonding' ? 'active':'' %>">
                            <span>Bonding</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    
        <% if(path === '/who-we-are') { %>
            <% include ../blocks/who-we-are-block %>
        <% } else if(path.includes('safety')) { %>
            <% include ../blocks/safety %>
        <% } else if(path.includes('bonding')) { %>
            <% include ../blocks/bonding %>
        <% } %>
    </div>
</section>
    
    
