<svg>
    <defs> 
        <!--  email icon  -->
        <symbol id="icon-email-icon" viewBox="0 0 32 32">
            <title>email-icon</title>
            <path  d="M31.829 6.132l-15.387 10.509c-0.019 0.013-0.041 0.027-0.065 0.039l-0.004 0.002-0.018 0.009c-0.020 0.011-0.046 0.022-0.072 0.033l-0.005 0.002c-0.022 0.009-0.050 0.018-0.078 0.025l-0.005 0.001h-0.007c-0.023 0.006-0.052 0.011-0.082 0.015l-0.004 0c-0.004 0-0.008 0.016-0.011 0.017-0.024 0.009-0.054 0.019-0.085 0.026l-0.006 0.001c-0.034-0.006-0.063-0.014-0.091-0.022l0.006 0.002c-0.004 0-0.008-0.009-0.011-0.009-0.034-0.006-0.062-0.013-0.090-0.021l0.006 0.001s-0.005-0.003-0.008-0.004c-0.034-0.009-0.062-0.018-0.089-0.029l0.005 0.002c-0.031-0.012-0.056-0.023-0.080-0.036l0.004 0.002-0.018-0.009c-0.022-0.012-0.044-0.024-0.063-0.039h-0.004l-0.005-0.003-15.563-10.368v19.875c0.001 0.499 0.404 0.904 0.903 0.907h30.194c0.499-0.003 0.903-0.409 0.903-0.909 0-0 0-0 0-0.001v0-20.18c-0.049 0.061-0.105 0.114-0.168 0.157l-0.003 0.002z"></path>
            <path  d="M15.994 15.054l14.804-10.117h-29.895c-0.030 0-0.059 0.005-0.088 0.008 0.012 0.008 0.025 0.014 0.037 0.022z"></path>
        </symbol>
    </defs>
</svg>
