<svg id="symbol-defs">
    <defs> 
        <!--  email icon  -->
        <symbol id="icon-email-icon" viewBox="0 0 32 32">
            <title>email-icon</title>
            <path  d="M31.829 6.132l-15.387 10.509c-0.019 0.013-0.041 0.027-0.065 0.039l-0.004 0.002-0.018 0.009c-0.020 0.011-0.046 0.022-0.072 0.033l-0.005 0.002c-0.022 0.009-0.050 0.018-0.078 0.025l-0.005 0.001h-0.007c-0.023 0.006-0.052 0.011-0.082 0.015l-0.004 0c-0.004 0-0.008 0.016-0.011 0.017-0.024 0.009-0.054 0.019-0.085 0.026l-0.006 0.001c-0.034-0.006-0.063-0.014-0.091-0.022l0.006 0.002c-0.004 0-0.008-0.009-0.011-0.009-0.034-0.006-0.062-0.013-0.090-0.021l0.006 0.001s-0.005-0.003-0.008-0.004c-0.034-0.009-0.062-0.018-0.089-0.029l0.005 0.002c-0.031-0.012-0.056-0.023-0.080-0.036l0.004 0.002-0.018-0.009c-0.022-0.012-0.044-0.024-0.063-0.039h-0.004l-0.005-0.003-15.563-10.368v19.875c0.001 0.499 0.404 0.904 0.903 0.907h30.194c0.499-0.003 0.903-0.409 0.903-0.909 0-0 0-0 0-0.001v0-20.18c-0.049 0.061-0.105 0.114-0.168 0.157l-0.003 0.002z"></path>
            <path  d="M15.994 15.054l14.804-10.117h-29.895c-0.030 0-0.059 0.005-0.088 0.008 0.012 0.008 0.025 0.014 0.037 0.022z"></path>
        </symbol>

        <!-- trowel w/ solid in icon -->
        <symbol id="icon-trowel-solid" viewBox="0 0 32 32">
            <title>trowel-solid</title>
            <path d="M31.689 2.933l-1.289-2.356c-0.178-0.311-0.578-0.444-0.889-0.267l-8 4.533c-0.311 0.178-0.444 0.578-0.267 0.889l0.311 0.533c0.044 0.133 0.044 0.267-0.089 0.356l-1.644 0.933c-0.178 0.089-0.311 0.311-0.311 0.489v7.156c0 0.178-0.089 0.311-0.178 0.444l-1.644 1.511c-0.178 0.178-0.444 0.178-0.622 0.089l-5.778-3.111c-0.267-0.133-0.578-0.044-0.756 0.222l-10.222 16.533c-0.267 0.444 0.133 0.978 0.622 0.844l26.178-8.044c0.489-0.133 0.533-0.8 0.089-1.067l-8-4.267c-0.356-0.178-0.4-0.667-0.133-0.933l1.422-1.289c0.133-0.089 0.178-0.267 0.178-0.444v-6.933c0-0.222 0.133-0.4 0.311-0.489l1.022-0.578c0.133-0.044 0.267-0.044 0.311 0.089l0.178 0.311c0.178 0.311 0.578 0.444 0.889 0.267l8-4.533c0.4-0.178 0.489-0.578 0.311-0.889z"></path>
        </symbol>

        <!-- brick wall icon -->
        <symbol id="icon-brickwall" viewBox="0 0 32 32">
            <title>brickwall</title>
            <path  stroke-width="1" d="M18.564 10.321h-5.128v2.287h5.128v-2.287zM15.633 13.346h-5.13v2.287h5.13v-2.287zM16.367 15.633h5.129v-2.287h-5.129v2.287zM22.233 19.392v2.287h5.129v-2.287h-5.129zM4.638 21.679h5.13v-2.287h-5.13v2.287zM16.367 21.679h5.129v-2.287h-5.129v2.287zM10.503 21.679h5.13v-2.287h-5.13v2.287zM13.436 18.655h5.128v-2.287h-5.128v2.287zM12.699 16.367h-5.13v2.287h5.129l0-2.287zM19.3 18.655h5.129v-2.287h-5.129v2.287z"></path>
        </symbol>

        <!-- brick wall icon w/ Stroke -->
        <symbol id="icon-brick-wall-stroke" viewBox="0 0 57 32">
            <title>brick-wall-stroke</title>
            <path   stroke-width="1" d="M20.87 7.652h-6.957v7.652h-6.957v7.652h-6.957v9.043h57.043v-9.043h-6.957v-7.652h-6.957v-7.652h-6.957v-7.652h-15.304v7.652zM1.391 24.348h12.522v6.261h-12.522v-6.261zM15.304 24.348h12.522v6.261h-12.522v-6.261zM29.217 24.348h12.522v6.261h-12.522v-6.261zM43.13 24.348h12.522v6.261h-12.522v-6.261zM8.348 16.696h12.522v6.261h-12.522v-6.261zM22.261 16.696h12.522v6.261h-12.522v-6.261zM36.174 16.696h12.522v6.261h-12.522v-6.261zM15.304 9.043h12.522v6.261h-12.522v-6.261zM29.217 9.043h12.522v6.261h-12.522v-6.261zM22.261 1.391h12.522v6.261h-12.522v-6.261z"></path>
        </symbol>

        <!-- trowel outline icon -->
        <symbol id="icon-trowel-outline" viewBox="0 0 32 32">
            <title>trowel-outline</title>
            <path d="M25.467 2.526c-0.468 0.008-0.92 0.177-1.29 0.57-0.006 0.007-0.013 0.013-0.019 0.020l-6.8 6.38c-0.070 0.065-0.114 0.157-0.114 0.259 0 0.093 0.036 0.178 0.095 0.241l-0-0 0.23 0.25-0.99 0.93c-0.070 0.065-0.114 0.157-0.114 0.259 0 0.093 0.036 0.178 0.095 0.241l-0-0 0.98 1.040-1.16 1.22c-0.062 0.063-0.1 0.15-0.1 0.246 0 0.030 0.004 0.058 0.011 0.086l-0.001-0.002 0.77 3.040-2.97-3.34c-0.065-0.073-0.159-0.118-0.263-0.118-0.118 0-0.222 0.058-0.286 0.147l-0.001 0.001-10.28 14.93c-0.038 0.055-0.060 0.123-0.060 0.197 0 0.194 0.158 0.352 0.352 0.352 0.028 0 0.054-0.003 0.080-0.009l-0.002 0 19.72-4.31c0.157-0.038 0.272-0.177 0.272-0.343 0-0.091-0.035-0.175-0.092-0.237l-5.46-6.14-1.050-4.15 1-1.050 1.1 1.17c0.065 0.071 0.157 0.115 0.26 0.115 0.093 0 0.178-0.036 0.24-0.095l-0 0 1-0.94 0.23 0.25c0.065 0.071 0.157 0.115 0.26 0.115 0.093 0 0.178-0.036 0.24-0.095l-0 0 6.82-6.4c1.673-1.582-0.299-4.398-2.23-4.79-0.125-0.026-0.269-0.041-0.417-0.041-0.019 0-0.037 0-0.056 0.001l0.003-0zM25.377 3.246c1.466-0.13 3.593 2.36 2.31 3.59l-6.56 6.16-3.040-3.22 6.57-6.16c0.007-0.006 0.013-0.013 0.019-0.019l0-0c0.162-0.177 0.35-0.285 0.56-0.33 0.046-0.010 0.093-0.016 0.14-0.020zM18.057 10.766l2.080 2.21-0.74 0.69-2.080-2.21 0.74-0.69zM13.857 14.766l3.57 4.010 0.1 0.37-0.91 0.41c-0.147 0.045-0.252 0.179-0.252 0.337 0 0.194 0.158 0.352 0.352 0.352 0.066 0 0.129-0.018 0.182-0.050l-0.002 0.001 1.18-0.52c0.034-0.013 0.064-0.030 0.091-0.051l-0.001 0.001 4.44 4.97-18.27 4 9.52-13.83z"></path>
        </symbol> 

        <!-- loading icon -->
        <symbol id="icon-loading-icon" viewBox="0 0 32 32">
            <title>loading-icon</title>
            <path d="M28.736 23.36c-1.216 1.888-2.848 3.456-4.736 4.608s-4.032 1.824-6.176 2.016l-0.8 0.032h-0.8c-0.544 0-1.056-0.064-1.6-0.128-1.056-0.16-2.080-0.448-3.072-0.832-1.984-0.768-3.712-2.016-5.12-3.52 1.536 1.376 3.36 2.4 5.312 2.976 0.96 0.288 1.984 0.448 2.976 0.48 0.512 0.032 0.992 0.032 1.504-0.032 0.256-0.032 0.48-0.032 0.736-0.064l0.736-0.128c1.952-0.352 3.776-1.152 5.312-2.304s2.816-2.656 3.68-4.352c0.32-0.576 1.024-0.832 1.632-0.512 0.576 0.32 0.832 1.024 0.512 1.632-0.064 0.032-0.064 0.096-0.096 0.128zM15.872 1.248c-0.672 0.032-1.184 0.576-1.152 1.248s0.608 1.184 1.248 1.152c1.888-0.096 3.808 0.256 5.568 1.024 0.448 0.16 0.864 0.416 1.312 0.64 0.224 0.096 0.416 0.256 0.608 0.384l0.608 0.416 0.576 0.448c0.192 0.16 0.384 0.288 0.544 0.48 0.352 0.352 0.704 0.672 1.024 1.056 1.28 1.504 2.24 3.328 2.72 5.28l0.16 0.736c0.064 0.256 0.096 0.512 0.128 0.736 0.032 0.512 0.128 1.024 0.128 1.536 0.032 1.024-0.096 2.048-0.288 3.072 0.32-0.992 0.512-2.016 0.608-3.040 0.064-0.512 0.032-1.056 0.032-1.568 0-0.256-0.032-0.512-0.064-0.8l-0.096-0.8c-0.32-2.080-1.12-4.128-2.368-5.888-0.288-0.448-0.672-0.864-0.992-1.28-0.16-0.224-0.384-0.384-0.576-0.576l-0.576-0.576-0.64-0.512c-0.224-0.16-0.416-0.352-0.64-0.512-0.448-0.288-0.896-0.64-1.408-0.864-1.92-1.056-4.128-1.696-6.368-1.792h-0.096zM9.536 3.904c-0.928 0.448-1.856 0.992-2.656 1.664l-0.32 0.256-0.288 0.256c-0.192 0.192-0.384 0.352-0.576 0.544-0.352 0.384-0.736 0.768-1.056 1.184-0.352 0.416-0.64 0.864-0.928 1.312-0.16 0.224-0.256 0.48-0.384 0.704l-0.192 0.352c-0.064 0.128-0.128 0.256-0.16 0.352l-0.32 0.736-0.288 0.768c-0.096 0.256-0.16 0.512-0.224 0.768s-0.16 0.512-0.192 0.8c-0.096 0.544-0.224 1.088-0.224 1.632-0.064 0.544-0.096 1.088-0.064 1.632-0.064 2.272 0.512 4.48 1.568 6.496 0.032 0.032 0.032 0.064 0.064 0.096 0.352 0.544 1.12 0.704 1.664 0.352s0.704-1.12 0.352-1.664c-1.024-1.568-1.696-3.424-1.92-5.344-0.064-0.48-0.064-0.96-0.064-1.44-0.032-0.48 0.032-0.96 0.064-1.472 0.032-0.256 0.064-0.48 0.096-0.736s0.064-0.48 0.128-0.736l0.192-0.704 0.224-0.704c0.032-0.128 0.064-0.224 0.128-0.352l0.16-0.352 0.288-0.672c0.224-0.448 0.448-0.896 0.736-1.312 0.256-0.416 0.576-0.832 0.864-1.216 0.16-0.192 0.32-0.384 0.512-0.576l0.256-0.288 0.288-0.256c0.704-0.704 1.536-1.312 2.4-1.856s1.824-0.928 2.816-1.28c-1.024 0.288-2.016 0.608-2.944 1.056z"></path>
        </symbol>

        <!-- trowel filled in icon -->
        <!-- <symbol id="icon-trowel-filled" viewBox="0 0 32 32">
            <title>trowel-filled</title>
            <path d="M2.645 24.167c2.339-1.962 12.751-10.865 12.751-10.865l11.469 5.961s-18.335 6.036-21.504 7.017c-3.169 0.981-5.055-0.151-2.716-2.113z"></path>
            <path d="M20.48 17.792c-0.521 0-0.96-0.422-0.96-0.943v-5.961c0-0.521 0.439-0.943 0.96-0.943s0.96 0.422 0.96 0.943v5.961c0 0.521-0.439 0.943-0.96 0.943z"></path>
            <path d="M29.912 7.052l-0.018 0.029-0.057 0.081c-0.076 0.102-0.151 0.192-0.232 0.276l0.001-0.001c-0.207 0.22-0.523 0.494-0.941 0.743-0.845 0.483-1.982 1.105-3.157 1.651-0.292 0.14-0.588 0.272-0.878 0.405l-0.856 0.381-0.802 0.355c-0.254 0.113-0.5 0.209-0.728 0.296-0.291 0.116-0.668 0.24-1.053 0.344l-0.079 0.018c-0.14 0.036-0.252 0.061-0.329 0.076s-0.119 0.022-0.119 0.022c-0.045 0.007-0.096 0.011-0.149 0.011-0.492 0-0.9-0.361-0.973-0.833l-0.001-0.005c-0.007-0.045-0.011-0.097-0.011-0.149 0-0.277 0.112-0.528 0.293-0.709v0s0.030-0.030 0.089-0.083c0.058-0.053 0.145-0.129 0.257-0.22 0.281-0.229 0.595-0.458 0.921-0.672l0.043-0.027c0.157-0.106 0.376-0.242 0.599-0.373l0.072-0.039 0.761-0.435 0.815-0.464c0.279-0.155 0.561-0.315 0.847-0.467 1.137-0.623 2.312-1.171 3.201-1.565 0.448-0.189 0.855-0.281 1.154-0.317 0.149-0.018 0.272-0.022 0.356-0.022l0.098 0.003 0.035 0.003c0.603 0.048 1.052 0.579 1.005 1.186-0.016 0.187-0.076 0.357-0.168 0.505l0.003-0.005z"></path>
        </symbol> -->

        <!-- trowel&bricks icon -->
        <!-- <symbol id="icon-trowel-bricks" viewBox="0 0 32 32">
            <title>trowel-bricks</title>
            <path d="M18.564 14.603h-5.128v2.287h5.128v-2.287zM15.633 17.628h-5.13v2.287h5.13v-2.287zM16.367 19.914h5.129v-2.287h-5.129v2.287zM22.233 23.674v2.287h5.129v-2.287h-5.129zM4.638 25.961h5.13v-2.287h-5.13v2.287zM16.367 25.961h5.129v-2.287h-5.129v2.287zM10.503 25.961h5.13v-2.287h-5.13v2.287zM13.436 22.937h5.128v-2.287h-5.128v2.287zM12.699 20.649h-5.13v2.287h5.129l0-2.287zM19.3 22.937h5.129v-2.287h-5.129v2.287zM13.896 13.076h4.023c0.955 0.057 1.406-0.604 1.005-1.471l-0.529-1.144 0.473-1.287-0.447-0.965-0.473 1.288-0.392-0.849c-0.403-0.866-1.198-0.951-1.771-0.185l-2.581 3.115c-0.572 0.766-0.26 1.441 0.693 1.499zM19.135 8.847c0.1 0.22 0.362 0.316 0.584 0.212v0.001l2.555-1.182c0.333-0.157 0.559-0.49 0.559-0.875 0-0.146-0.033-0.285-0.091-0.409l0.003 0.006c-0.157-0.333-0.49-0.56-0.876-0.56-0.147 0-0.286 0.033-0.41 0.091l0.006-0.003-2.555 1.184c-0.152 0.071-0.255 0.223-0.255 0.399 0 0.068 0.015 0.131 0.042 0.189l-0.001-0.003 0.44 0.95z"></path>
        </symbol> -->

    </defs>
</svg>
