<svg id="symbol-defs">
    <defs> 
        <!--  email icon  -->
        <symbol id="icon-email-icon" viewBox="0 0 32 32">
            <title>email-icon</title>
            <path  d="M31.829 6.132l-15.387 10.509c-0.019 0.013-0.041 0.027-0.065 0.039l-0.004 0.002-0.018 0.009c-0.020 0.011-0.046 0.022-0.072 0.033l-0.005 0.002c-0.022 0.009-0.050 0.018-0.078 0.025l-0.005 0.001h-0.007c-0.023 0.006-0.052 0.011-0.082 0.015l-0.004 0c-0.004 0-0.008 0.016-0.011 0.017-0.024 0.009-0.054 0.019-0.085 0.026l-0.006 0.001c-0.034-0.006-0.063-0.014-0.091-0.022l0.006 0.002c-0.004 0-0.008-0.009-0.011-0.009-0.034-0.006-0.062-0.013-0.090-0.021l0.006 0.001s-0.005-0.003-0.008-0.004c-0.034-0.009-0.062-0.018-0.089-0.029l0.005 0.002c-0.031-0.012-0.056-0.023-0.080-0.036l0.004 0.002-0.018-0.009c-0.022-0.012-0.044-0.024-0.063-0.039h-0.004l-0.005-0.003-15.563-10.368v19.875c0.001 0.499 0.404 0.904 0.903 0.907h30.194c0.499-0.003 0.903-0.409 0.903-0.909 0-0 0-0 0-0.001v0-20.18c-0.049 0.061-0.105 0.114-0.168 0.157l-0.003 0.002z"></path>
            <path  d="M15.994 15.054l14.804-10.117h-29.895c-0.030 0-0.059 0.005-0.088 0.008 0.012 0.008 0.025 0.014 0.037 0.022z"></path>
        </symbol>

        <!-- trowel w/ solid in icon -->
        <symbol id="icon-trowel-solid" viewBox="0 0 32 32">
            <title>trowel-solid</title>
            <path d="M31.689 2.933l-1.289-2.356c-0.178-0.311-0.578-0.444-0.889-0.267l-8 4.533c-0.311 0.178-0.444 0.578-0.267 0.889l0.311 0.533c0.044 0.133 0.044 0.267-0.089 0.356l-1.644 0.933c-0.178 0.089-0.311 0.311-0.311 0.489v7.156c0 0.178-0.089 0.311-0.178 0.444l-1.644 1.511c-0.178 0.178-0.444 0.178-0.622 0.089l-5.778-3.111c-0.267-0.133-0.578-0.044-0.756 0.222l-10.222 16.533c-0.267 0.444 0.133 0.978 0.622 0.844l26.178-8.044c0.489-0.133 0.533-0.8 0.089-1.067l-8-4.267c-0.356-0.178-0.4-0.667-0.133-0.933l1.422-1.289c0.133-0.089 0.178-0.267 0.178-0.444v-6.933c0-0.222 0.133-0.4 0.311-0.489l1.022-0.578c0.133-0.044 0.267-0.044 0.311 0.089l0.178 0.311c0.178 0.311 0.578 0.444 0.889 0.267l8-4.533c0.4-0.178 0.489-0.578 0.311-0.889z"></path>
        </symbol>

        <!-- brick wall icon -->
        <symbol id="icon-brickwall" viewBox="0 0 32 32">
            <title>brickwall</title>
            <path  stroke-width="1" d="M18.564 10.321h-5.128v2.287h5.128v-2.287zM15.633 13.346h-5.13v2.287h5.13v-2.287zM16.367 15.633h5.129v-2.287h-5.129v2.287zM22.233 19.392v2.287h5.129v-2.287h-5.129zM4.638 21.679h5.13v-2.287h-5.13v2.287zM16.367 21.679h5.129v-2.287h-5.129v2.287zM10.503 21.679h5.13v-2.287h-5.13v2.287zM13.436 18.655h5.128v-2.287h-5.128v2.287zM12.699 16.367h-5.13v2.287h5.129l0-2.287zM19.3 18.655h5.129v-2.287h-5.129v2.287z"></path>
        </symbol>

        <!-- brick wall icon w/ Stroke -->
        <symbol id="icon-brick-wall-stroke" viewBox="0 0 57 32">
            <title>brick-wall-stroke</title>
            <path   stroke-width="1" d="M20.87 7.652h-6.957v7.652h-6.957v7.652h-6.957v9.043h57.043v-9.043h-6.957v-7.652h-6.957v-7.652h-6.957v-7.652h-15.304v7.652zM1.391 24.348h12.522v6.261h-12.522v-6.261zM15.304 24.348h12.522v6.261h-12.522v-6.261zM29.217 24.348h12.522v6.261h-12.522v-6.261zM43.13 24.348h12.522v6.261h-12.522v-6.261zM8.348 16.696h12.522v6.261h-12.522v-6.261zM22.261 16.696h12.522v6.261h-12.522v-6.261zM36.174 16.696h12.522v6.261h-12.522v-6.261zM15.304 9.043h12.522v6.261h-12.522v-6.261zM29.217 9.043h12.522v6.261h-12.522v-6.261zM22.261 1.391h12.522v6.261h-12.522v-6.261z"></path>
        </symbol>

        <!-- FIVE brick wall icon -->
        <symbol id="icon-five-bricks" viewBox="0 0 32 32">
            <title>five-bricks</title>
            <path stroke-width="0.2" d="M15.602 14.687h-5.892v2.627h5.892v-2.627zM19.744 18.111v2.628h5.892v-2.628h-5.892zM16.399 17.314h5.892v-2.627h-5.892v2.627zM18.945 -5.89zM13.055 20.739h5.89v-2.628h-5.89v2.628zM6.364 20.739h5.892v-2.628h-5.892v2.628z"></path>
        </symbol>

        <!-- 3D brick wall icon -->
        <symbol id="icon-bricks-3D" viewBox="0 0 32 32">
            <title>bricks-3D</title>
            <path stroke-width="0.2" d="M29.441 13.029v-0.055c-0.002-0.011-0.004-0.023-0.004-0.035 0-0.005 0-0.011 0.001-0.016l-0 0.001c-0.002-0.007-0.004-0.014-0.005-0.022-0.026-0.013-0.045-0.024-0.064-0.035l0.004 0.002c-0.059-0.013-0.107-0.026-0.154-0.041l0.011 0.003-3.037-0.865-1.553 0.273v-2.16l-0.008-0.002 0.004-0.017-2.179-0.522-0.831-0.206-0.019 0.002-0.043-0.010-0.001-0.005-11.804 1.377 0.181 3.997-7.567 1.306-0.020 0.085 0.447 4.032 0.010-0.001 1.401 2.327 0.004-0.002 0.011 0.043 25.11-6.319v-0.042l0.111-3.094h-0.005zM29.179 16.031l-0.023 0.008-10.036 2.528 0.009-3.66 10.156-1.867-0.107 2.991zM3.734 17.9l0.005-0.002 0.432 4.168-1.218-2.022-0.427-3.848 1.183 1.511 0.024 0.193zM3.893 17.832l0.001-0.008 8.212-1.614-0-0.012 6.863-1.261-0.009 3.67-14.606 3.679-0.462-4.455zM12.099 15.98l-0.145-4.045 12.367-1.728v3.527l-12.221 2.247zM10.378 11.017l-0.395-0.195 0.020-0.002 0.375 0.197zM11.791 11.892l0.151 4.206-1.836-1.292-0.173-3.829 1.859 0.916z"></path>
        </symbol>

        <!-- trowel outline icon -->
        <symbol id="icon-trowel-outline" viewBox="0 0 32 32">
            <title>trowel-outline</title>
            <path class="trowel-path" style="outline:none;" d="M25.467 2.526c-0.468 0.008-0.92 0.177-1.29 0.57-0.006 0.007-0.013 0.013-0.019 0.020l-6.8 6.38c-0.070 0.065-0.114 0.157-0.114 0.259 0 0.093 0.036 0.178 0.095 0.241l-0-0 0.23 0.25-0.99 0.93c-0.070 0.065-0.114 0.157-0.114 0.259 0 0.093 0.036 0.178 0.095 0.241l-0-0 0.98 1.040-1.16 1.22c-0.062 0.063-0.1 0.15-0.1 0.246 0 0.030 0.004 0.058 0.011 0.086l-0.001-0.002 0.77 3.040-2.97-3.34c-0.065-0.073-0.159-0.118-0.263-0.118-0.118 0-0.222 0.058-0.286 0.147l-0.001 0.001-10.28 14.93c-0.038 0.055-0.060 0.123-0.060 0.197 0 0.194 0.158 0.352 0.352 0.352 0.028 0 0.054-0.003 0.080-0.009l-0.002 0 19.72-4.31c0.157-0.038 0.272-0.177 0.272-0.343 0-0.091-0.035-0.175-0.092-0.237l-5.46-6.14-1.050-4.15 1-1.050 1.1 1.17c0.065 0.071 0.157 0.115 0.26 0.115 0.093 0 0.178-0.036 0.24-0.095l-0 0 1-0.94 0.23 0.25c0.065 0.071 0.157 0.115 0.26 0.115 0.093 0 0.178-0.036 0.24-0.095l-0 0 6.82-6.4c1.673-1.582-0.299-4.398-2.23-4.79-0.125-0.026-0.269-0.041-0.417-0.041-0.019 0-0.037 0-0.056 0.001l0.003-0zM25.377 3.246c1.466-0.13 3.593 2.36 2.31 3.59l-6.56 6.16-3.040-3.22 6.57-6.16c0.007-0.006 0.013-0.013 0.019-0.019l0-0c0.162-0.177 0.35-0.285 0.56-0.33 0.046-0.010 0.093-0.016 0.14-0.020zM18.057 10.766l2.080 2.21-0.74 0.69-2.080-2.21 0.74-0.69zM13.857 14.766l3.57 4.010 0.1 0.37-0.91 0.41c-0.147 0.045-0.252 0.179-0.252 0.337 0 0.194 0.158 0.352 0.352 0.352 0.066 0 0.129-0.018 0.182-0.050l-0.002 0.001 1.18-0.52c0.034-0.013 0.064-0.030 0.091-0.051l-0.001 0.001 4.44 4.97-18.27 4 9.52-13.83z"></path>
        </symbol> 

        <!-- loading icon -->
        <symbol id="icon-loading-icon" viewBox="0 0 32 32">
            <title>loading-icon</title>
            <path d="M28.736 23.36c-1.216 1.888-2.848 3.456-4.736 4.608s-4.032 1.824-6.176 2.016l-0.8 0.032h-0.8c-0.544 0-1.056-0.064-1.6-0.128-1.056-0.16-2.080-0.448-3.072-0.832-1.984-0.768-3.712-2.016-5.12-3.52 1.536 1.376 3.36 2.4 5.312 2.976 0.96 0.288 1.984 0.448 2.976 0.48 0.512 0.032 0.992 0.032 1.504-0.032 0.256-0.032 0.48-0.032 0.736-0.064l0.736-0.128c1.952-0.352 3.776-1.152 5.312-2.304s2.816-2.656 3.68-4.352c0.32-0.576 1.024-0.832 1.632-0.512 0.576 0.32 0.832 1.024 0.512 1.632-0.064 0.032-0.064 0.096-0.096 0.128zM15.872 1.248c-0.672 0.032-1.184 0.576-1.152 1.248s0.608 1.184 1.248 1.152c1.888-0.096 3.808 0.256 5.568 1.024 0.448 0.16 0.864 0.416 1.312 0.64 0.224 0.096 0.416 0.256 0.608 0.384l0.608 0.416 0.576 0.448c0.192 0.16 0.384 0.288 0.544 0.48 0.352 0.352 0.704 0.672 1.024 1.056 1.28 1.504 2.24 3.328 2.72 5.28l0.16 0.736c0.064 0.256 0.096 0.512 0.128 0.736 0.032 0.512 0.128 1.024 0.128 1.536 0.032 1.024-0.096 2.048-0.288 3.072 0.32-0.992 0.512-2.016 0.608-3.040 0.064-0.512 0.032-1.056 0.032-1.568 0-0.256-0.032-0.512-0.064-0.8l-0.096-0.8c-0.32-2.080-1.12-4.128-2.368-5.888-0.288-0.448-0.672-0.864-0.992-1.28-0.16-0.224-0.384-0.384-0.576-0.576l-0.576-0.576-0.64-0.512c-0.224-0.16-0.416-0.352-0.64-0.512-0.448-0.288-0.896-0.64-1.408-0.864-1.92-1.056-4.128-1.696-6.368-1.792h-0.096zM9.536 3.904c-0.928 0.448-1.856 0.992-2.656 1.664l-0.32 0.256-0.288 0.256c-0.192 0.192-0.384 0.352-0.576 0.544-0.352 0.384-0.736 0.768-1.056 1.184-0.352 0.416-0.64 0.864-0.928 1.312-0.16 0.224-0.256 0.48-0.384 0.704l-0.192 0.352c-0.064 0.128-0.128 0.256-0.16 0.352l-0.32 0.736-0.288 0.768c-0.096 0.256-0.16 0.512-0.224 0.768s-0.16 0.512-0.192 0.8c-0.096 0.544-0.224 1.088-0.224 1.632-0.064 0.544-0.096 1.088-0.064 1.632-0.064 2.272 0.512 4.48 1.568 6.496 0.032 0.032 0.032 0.064 0.064 0.096 0.352 0.544 1.12 0.704 1.664 0.352s0.704-1.12 0.352-1.664c-1.024-1.568-1.696-3.424-1.92-5.344-0.064-0.48-0.064-0.96-0.064-1.44-0.032-0.48 0.032-0.96 0.064-1.472 0.032-0.256 0.064-0.48 0.096-0.736s0.064-0.48 0.128-0.736l0.192-0.704 0.224-0.704c0.032-0.128 0.064-0.224 0.128-0.352l0.16-0.352 0.288-0.672c0.224-0.448 0.448-0.896 0.736-1.312 0.256-0.416 0.576-0.832 0.864-1.216 0.16-0.192 0.32-0.384 0.512-0.576l0.256-0.288 0.288-0.256c0.704-0.704 1.536-1.312 2.4-1.856s1.824-0.928 2.816-1.28c-1.024 0.288-2.016 0.608-2.944 1.056z"></path>
        </symbol>

        <!-- location marker -->
        <symbol id="icon-location-marker" viewBox="0 0 32 32">
            <title>location-marker</title>
            <path d="M26.037 11.828c0 1.929-0.512 3.66-1.457 5.117l-8.58 13.264-8.58-13.068c-0.787-1.22-1.456-2.795-1.456-5.314 0-5.51 4.487-10.037 10.037-10.037s10.037 4.526 10.037 10.037zM11.828 11.041c0 2.244 1.928 4.054 4.172 4.054s4.054-1.811 4.054-4.054-1.811-4.172-4.054-4.172c-2.244 0-4.172 1.929-4.172 4.172z"></path>
        </symbol>

        <!-- fax icon -->
        <symbol id="icon-fax" viewBox="0 0 32 32">
            <title>fax</title>
            <path d="M27.624 13.648h-0.493v-9.415c0-1.007-0.173-1.225-1.012-1.225h-14.526c-0.9 0-0.926 0.492-0.926 1.225v9.695c0 0.002 0.001 0.004 0.001 0.006-0.189 0.415-0.665 1.467-0.841 1.921-0.812 2.092-0.244 4.243 0.257 6.14 0.235 0.889 0.445 1.73 0.504 2.457 0.159 1.974-1.536 3.877-1.536 4.147 0 0.217 0.175 0.392 0.392 0.392h18.181c0.844 0 1.299-0.93 1.299-1.806v-12.296c0-0.566-0.226-1.242-1.299-1.242zM11.452 4.233c0-0.324 0.025-0.441 0.407-0.441h14.010c0.436 0 0.48 0.084 0.48 0.441v9.415h-14.896v-9.415zM15.036 26.861c-0 0.249-0.202 0.45-0.451 0.451h-2.459c-0.249-0-0.45-0.202-0.451-0.451v-1.451c0-0.249 0.202-0.45 0.451-0.451h2.459c0.249 0 0.45 0.202 0.451 0.451v1.451zM15.036 23.277c-0 0.249-0.202 0.45-0.451 0.451h-2.459c-0.249-0-0.45-0.202-0.451-0.451v-1.451c0-0.249 0.202-0.45 0.451-0.451h2.459c0.249 0 0.45 0.202 0.451 0.451v1.451zM20.636 26.861c-0 0.249-0.202 0.45-0.451 0.451h-2.459c-0.249-0-0.45-0.202-0.451-0.451v-1.451c0-0.249 0.202-0.45 0.451-0.451h2.459c0.249 0 0.45 0.202 0.451 0.451v1.451zM20.636 23.277c-0 0.249-0.202 0.45-0.451 0.451h-2.459c-0.249-0-0.45-0.202-0.451-0.451v-1.451c0-0.249 0.202-0.45 0.451-0.451h2.459c0.249 0 0.45 0.202 0.451 0.451v1.451zM26.236 26.861c-0 0.249-0.202 0.45-0.451 0.451h-2.459c-0.249-0-0.45-0.202-0.451-0.451v-1.451c0-0.249 0.202-0.45 0.451-0.451h2.459c0.249 0 0.45 0.202 0.451 0.451v1.451zM26.236 23.277c-0 0.249-0.202 0.45-0.451 0.451h-2.459c-0.249-0-0.45-0.202-0.451-0.451v-1.451c0-0.249 0.202-0.45 0.451-0.451h2.459c0.249 0 0.45 0.202 0.451 0.451v1.451zM26.572 18.909c-0 0.249-0.202 0.45-0.451 0.451h-14.107c-0.249-0-0.45-0.202-0.451-0.451v-2.347c0-0.249 0.202-0.45 0.451-0.451h14.107c0.249 0 0.45 0.202 0.451 0.451v2.347zM9.971 24.809c0 1.9-1.547 3.447-3.447 3.447s-3.447-1.546-3.447-3.447c0-0.702 0.21-1.377 0.608-1.954 0.772-0.772 0.817-7.090 0-7.907-0.381-0.544-0.608-1.22-0.608-1.948 0-0.002 0-0.004 0-0.007v0c0-1.9 1.547-3.447 3.447-3.447s3.447 1.546 3.447 3.447c0 0.702-0.21 1.378-0.608 1.955-1.060 1.060-0.682 7.225 0 7.907 0.381 0.544 0.608 1.22 0.608 1.949 0 0.002 0 0.004 0 0.006v-0zM24.902 6.648c0 0.217-0.175 0.392-0.392 0.392h-11.312c-0.216 0-0.392-0.176-0.392-0.392s0.175-0.392 0.392-0.392v0h11.312c0.217 0 0.392 0.175 0.392 0.392zM24.902 9.784c0 0.217-0.175 0.392-0.392 0.392h-11.312c-0.216 0-0.392-0.175-0.392-0.392s0.175-0.392 0.392-0.392v0h11.312c0.217 0 0.392 0.175 0.392 0.392z"></path>
        </symbol>
        

        <!-- phone icon -->
        <symbol id="icon-phone" viewBox="0 0 32 32">
            <title>phone</title>
            <path d="M23.013 26.808l-2.77-5.416c-0.084-0.163-0.252-0.273-0.444-0.273-0.054 0-0.107 0.009-0.156 0.025l0.004-0.001-1.906 0.605c-0.076 0.026-0.163 0.041-0.254 0.042h-0c-1.306 0-2.46-3.636-2.84-4.83-0.572-1.803-0.858-3.083-0.9-4.029-0.063-1.436 0.466-1.604 0.665-1.667l1.906-0.605c0.204-0.066 0.349-0.254 0.349-0.477 0-0.025-0.002-0.050-0.005-0.074l0 0.003-0.863-6.021c-0.035-0.244-0.243-0.43-0.494-0.43-0.054 0-0.106 0.009-0.155 0.025l0.004-0.001-1.906 0.606c-1.959 0.622-3.376 2.474-3.99 5.215-0.594 2.646-0.371 5.831 0.625 8.969 1.815 5.715 5.809 9.864 9.496 9.864 0.492 0 0.976-0.074 1.436-0.22l1.906-0.605c0.204-0.066 0.349-0.254 0.349-0.477 0-0.083-0.020-0.162-0.056-0.231l0.001 0.003z"></path>
        </symbol>
        

    </defs>
</svg>
