<% layout('layout') %>

<div class="container">
    
    <% include sections/overview %>

    <% include sections/featured %>

    <% include sections/why-we-excell %>

    <% include sections/inquiries %>    

</div>