<!DOCTYPE html>
<html lang="en">
    <head>
       <% include partials/head %>
    </head>
    <body>

        <!-- HEADER -->
        <header id="" class="" role="banner">
            <% include partials/header %>
        </header>

         <!-- MAIN -->
        <main role="main">
            <%- body -%>
        </main>

        <!-- FOOTER -->
        <footer class="main-footer" role="contentinfo">
            <% include partials/footer %>
        </footer>

        <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/plugins/slick-1.6.0/slick/slick.min.js"></script>
        <script src="https://use.fontawesome.com/3e1d7b509c.js"></script>
        <script type="text/javascript" src="/js/all.min.js"></script>
    </body>
</html>
