<!DOCTYPE html>
<html lang="en">
    <head>
       <% include partials/head %>
    </head>
    <body class="no-scroll">
        <!-- svg symbol defs -->
        <% include icons/symbols %>
        
        <% if(!path.includes('projects/')) { %>
            <div class="loading-page">
                <svg class="icon icon-five-bricks"><use xlink:href="#icon-five-bricks"></use></svg>
                <svg class="icon icon-loading-icon"><use xlink:href="#icon-loading-icon"></use></svg>
            </div>
        <% } %>

        <!-- HEADER -->
        <header role="banner" class="<%= landing ? 'landing':'pages shrink' %>">
            <% include partials/header %>
        </header>

         <!-- MAIN -->
        <main role="main" class="<%= landing ? 'landing':'pages' %>">
            <%- body -%>
        </main>

        <!-- FOOTER -->
        <footer class="main-footer" role="contentinfo">
            <% include partials/footer %>
        </footer>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script type="text/javascript" src="/plugins/slick-1.6.0/slick/slick.min.js"></script>
        <% if(path === '/contact-us') { %>
            <script 
                src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>">
            </script>
        <% } %>
        <script src="https://use.fontawesome.com/3e1d7b509c.js"></script>
        <script type="text/javascript" src="/js/bundle.min.js"></script>
    </body>
</html>
