<% layout('layout') %>

<!-- -- -- -- -- --
    Category Page 
<!-- -- -- -- -- -->

<section id="projects" class="projects-page">
    <div class="category-banner" style="background-image: url('<%= categoryObj.image %>');">
        <div class="category-title-container">
            <h2 class="category-header"><%= categoryTitle %></h2>
            <p class="category-description"><%= categoryObj.description %></p>
        </div>
    </div>
    <ul class="category-list">
        <% projects.forEach((project) => { %>
            <li>
                <%- partial('../../blocks/project-card', {project: project}) %>
            </li>
        <% }) %>
    </ul>
</section>
