<% layout('layout') %>

<!-- -- -- -- -- --
    Categories List
<!-- -- -- -- -- -->

<section id="projects" class="projects-page">
    <h2 class="projects-header">Projects</h2>
    <ul class="category-list card-list">
        <% categories.forEach((category) => { %>
            <li>
                <%- partial('../../blocks/project-category', {category: category}) %>
            </li>
        <% }) %>
    </ul>
</section>


