<div class="f-top-wrap">
   
    <!-- footer nav -->
    <nav class="f-nav">
        <ul>
            <!-- home -->
           <li class="f-nav-col">
                <a href="/">HOME</a>
                <ul>
                    <li><a href="/contact-us">Contact Us</a></li>
                </ul>
           </li> 

           <!-- about us -->
           <li class="f-nav-col">
                <a href="/who-we-are">WHO WE ARE</a>
                <ul>
                    <li><a href="/who-we-are">About Us</a></li>
                    <li><a href="/who-we-are/safety">Safety</a></li>
                    <li><a href="/who-we-are/bonding">Bonding</a></li>
                </ul>
           </li>

           <!-- BIM -->
           <li class="f-nav-col">
                <a href="/BIM">BIM</a>
                <ul>
                    <li><a href="/BIM/examples">Examples</a></li>
                </ul>
           </li>

           <!-- projects -->
           <li class="f-nav-col">
                <a href="/projects">PROJECTS</a>
                <ul>
                    <li><a href="/projects">By Category</a></li>
                    <li><a href="/projects/all">View All</a></li>
                </ul>
           </li>

           <!-- trsut & respect -->
           <li class="f-nav-col">
                <a href="/trust&respect">TRUST & RESPECT</a>
                <ul>
                    <li><a href="/trust&respect">Clients</a></li>
                    <li><a href="/trust&respect">Testimonials</a></li>
                </ul>
           </li>
        </ul>
    </nav>

    <!-- logo/icon -->
    <div class="f-icon-wrap">
        <div class="inner-wrap">
            <!-- <svg class="icon icon-trowel-solid"><use xlink:href="#icon-trowel-solid"></use></svg> -->
            <svg class="icon icon-five-bricks"><use xlink:href="#icon-five-bricks"></use></svg>
        </div>
    </div>
</div>

<div class="f-bottom-wrap">
    <!-- contact INFO -->
    <% include ../blocks/contact-info %>

    <!-- copyright -->
    <div class="copy">
        <span>copyright &copy 2018 | Back Brook Masonry</span>
    </div>
</div>


