<div class="f-wrap">
    <div class="f-icon-wrap">
        <div class="inner-wrap">
            <svg class="icon icon-trowel-solid"><use xlink:href="#icon-trowel-solid"></use></svg>
            <svg class="icon icon-brickwall"><use xlink:href="#icon-brickwall"></use></svg>
        </div>
    </div>
    
    <nav class="f-nav">
        <ul>
            <li><span><a href="">HOME</a></span></li>
            <li><span><a href="">WHO WE ARE</a></span></li>
            <li><span><a href="">PROJECTS</a></span></li>
            <li><span><a href="">TRUST & RESPECT</a></span></li>
            <li><span><a href="">CONTACT US</a></span></li>
        </ul>
    </nav>
</div>
<div class="copy">
    <span>copyright &copy 2018 | Back Brook Masonry</span>
</div>