
<div class="banner">

    <a href="/">
        <div class="logo-wrap">
            <img class="logo-img" src="assets/images/bbm-logo.png" alt="Back Brook Masonry logo">
        </div>
    </a>

    <div class="burger-btn">
        <div class="burger-icon"></div>
    </div>

    <nav class="main-nav" role="navigation">
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">WHO WE ARE</a></li>
            <li><a href="">PROJECTS</a></li>
            <li><a href="">TRUST & RESPECT</a></li>
            <li><a href="">CONTACT</a></li>
        </ul>
    </nav>
</div>

<svg class="icon icon-trowel-outline"><use xlink:href="#icon-trowel-outline"></use></svg>

<div class="sidebar">
    
</div>