<title>TODO</title>
<meta charset="UTF-8">
<meta name="description" content="To Do">
<meta name="keywords" content="To Do">
<meta name="author" content="Mike Schmerbeck">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Normalize.css, a cross-browser reset file -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="/plugins/slick-1.6.0/slick/slick-theme.css"/>
<link href="/css/screen.min.css" rel="stylesheet">
