<div class="banner">
    
    <a class="logo-a-wrap" href="/">
        <div class="logo-svg-wrap">
            <% include ../icons/bbm-icon %>
        </div>
    </a>
    
    <div class="burger-btn">
        <div class="burger-icon"></div>
    </div>
    
    
    <nav class="main-nav" role="navigation">
        <ul>
            <li class="home"><a href="/">HOME</a></li>
            <li class="whoweare"><a href="/whoweare">WHO WE ARE</a></li>
            <li class="BIM"><a href="/BIM">BIM</a></li>
            <li class="projects"><a href="/projects">PROJECTS</a></li>
            <li class="trust-respect"><a href="/trust-respect">TRUST & RESPECT</a></li>
            <li class="contact-us"><a href="/contact-us">CONTACT</a></li>
        </ul>
    </nav>

</div>

    
<% if (landing) { %>
    <% include slideshow %>
    <svg class="icon icon-trowel-outline"><use xlink:href="#icon-trowel-outline"></use></svg>
<% } %>