
<div class="banner">

    <a href="/">
        <div class="logo-wrap">
            <img class="logo-img" src="assets/images/bbm-logo.png" alt="Back Brook Masonry logo">
        </div>
    </a>

    <div class="burger-btn">
        <div class="burger-icon"></div>
    </div>

    
    <nav class="main-nav" role="navigation">
        <ul>
            <li class="home"><a href="/">HOME</a></li>
            <li class="whoweare"><a href="/whoweare">WHO WE ARE</a></li>
            <li class="BIM"><a href="/BIM">BIM</a></li>
            <li class="projects"><a href="/projects">PROJECTS</a></li>
            <li class="trust-respect"><a href="/trust-respect">TRUST & RESPECT</a></li>
            <li class="contact-us"><a href="/contact-us">CONTACT</a></li>
        </ul>
    </nav>
</div>

<% include slideshow %>

<% if (landing) { %>
    <svg class="icon icon-trowel-outline"><use xlink:href="#icon-trowel-outline"></use></svg>
<% } %>