<!-- BIM model -->
<div class="bim-model-wrap">
    <iframe src="https://gmail129142.autodesk360.com/shares/public/SH7f1edQT22b515c761e474144fe2251d5e9?mode=embed" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
</div>