<div class="project-quote">
    <blockquote cite="">
        <svg class="icon icon-quotation-left"><use xlink:href="#icon-quotation-left"></use></svg>
        <%= projectObj.quote %>
        <svg class="icon icon-quotation-right"><use xlink:href="#icon-quotation-right"></use></svg>
        <footer>
            <cite>
                - <%= projectObj.quoteAuthor %>
            </cite>
        </footer>
    </blockquote>
</div>