<!-- -- -- -- -- --
    PROJECT CARD 
<!-- -- -- -- -- -->

<a href="<%= project.url %>">
    <div class="project-card">
        <div class="proj-img" style="background-image: url('<%= project.image %>')"></div>
        <div class="details">
            <h3 class="project-name"><%= project.name %></h3>
        </div>
    </div>
</a>